h1 {
    text-align: center;
}

.tableRoom{
    width: 70%;
    margin:auto}

.tablePlayer{
    width: 70%;
    margin:auto}  
.pickSelect{
    width: 70%;
    margin:auto} 
.logoutButton{
    margin-left: 260px;
    margin-top: 50px;
    }