.user-details{
    width: 70%;
    margin: auto;
}

h1{
    text-align: center;
}

.btn{
    margin-top: 20px;
}

.user-information-box{
    margin-bottom: 15px;
}

.tombol-back{
    text-align: end;
}