<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/login-page.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="form">
                <div class="left-side"> <span></span> <span></span> <span></span> <span></span> </div>
                <div class="right-side">
                    <div class="signin_form s_form ">
                        <div class="login">
                            <h2>User Login</h2>
                        </div>
                        <div class="input_text"> <input type="text" placeholder="Username"> <i class="fa fa-user"></i>
                        </div>
                        <div class="input_text"> <input class="signin_pass" type="password" name="password" placeholder="Password">
                            <i class="fa fa-lock"></i> <i class="fa fa-eye-slash"></i> </div>
                        <div class="login_btn"> <button class="login_button">LOGIN</button> </div>
                        <div class="forgot">
                            <p>Forgot <a href="#">Username</a> <a href="#">Password</a> ?</p>
                        </div>
                        <div class="create margin"> <a href="#" class="create_acc">Create your Account
                                <i class="fa fa-long-arrow-right"></i></a> </div>
                    </div>
                    <div class="signup_form s_form d-none">
                        <div class="login">
                            <h2>Create Account</h2>
                        </div>
                        <div class="input_text"> <input type="text" placeholder="Username"> <i class="fa fa-user"></i>
                        </div>
                        <div class="input_text"> <input type="text" placeholder="Email"> <i class="fa fa-envelope"></i>
                        </div>
                        <div class="input_text"> <input type="password" class="signup_pass" placeholder="Password">
                            <i class="fa fa-lock"></i> <i class="fa fa-eye-slash signup_eye"></i> </div>
                        <div class="login_btn"> <button class="signup_button">Sign Up</button> </div>
                        <div class="create">
                            <p>Already have an account? <a href="#" class="login_acc">Login
                                    <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/login-page.js"></script> 
</body>
</html>